<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />

    <title>{% block title %}Home{% endblock %}</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbar"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar">
        <div class="navbar-nav">
            <a class="nav-item nav-link" id="logout" href="/logout">Logout</a>
            <a class="nav-item nav-link" id="authenticated-as" align="right">Authenticated as: {{user.first_name}}</a>
        </div>
      </div>
    </nav>

    <br/>
    <h1 align="center">Admin panel</h1>

    <br/>
    <h1 align="left">Users</h1>
    <ul class="list-group list-group-flush" id="users">
      {% for user in users %}
        {% if user.first_name != 'administrator' %}
          <li class="list-group-item">
              {{user.first_name}} 
              <button type="button" class="close" onclick="deleteUser({{user.id}})">
                  <span aria-hidden="true">&times;</span>
              </button>
          </li>
        {% endif %}
      {% endfor %}
    </ul>

    <br/>
    <br/>
    <h1 align="left">Notes</h1>
    <ul class="list-group list-group-flush" id="notes">
      {% for note in notes %}
      <li class="list-group-item">
          {{note.data}} 
          <button type="button" class="close" onclick="deleteNoteAdmin({{note.id}})">
              <span aria-hidden="true">&times;</span>
          </button>
      </li>
      {% endfor %}
    </ul>



    
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>

    <script type="text/javascript" src="../static/index.js">
    </script>
  </body>
</html>